.label {
  font-weight: 500;
  color: var(--text-muted);
}

.labelSm {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.labelMd {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.labelLg {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
